@import "tailwindcss";

:root {
  /* Colors */
  --Neutral-900: #02012c;
  --Neutral-800: #262540;
  --Neutral-700: #302f4a;
  --Neutral-600: #3c3b5e;
  --Neutral-300: #acacb7;
  --Neutral-200: #d4d3d9;
  --Neutral-0: #ffffff;
  --Orange-500: #ff820a;
  --Blue-500: #4658d9;
  --Blue-700: #2b1b9c;

  /* Spacing scale */
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 144px;

  /* Radius scale */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}
